<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO SYSTEM</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h2>Add TODOs</h2>
        <form action="/add-task" method="post">
        <input type="text" name="description" placeholder="Enter your task">
        <select name="priority">
            <option value="low">Low Priority</option>
            <option value="medium"> Medium Priority</option>
            <option value="high">High Priority</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <h2>Current List</h2>
    <table style="width: 50%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <% todos.forEach(todo => {%>
                <tr>
                    <th><span><%= todo._id %></span></th>
                    <th>
                        <% if (todo.status === 'pending') { %>
                             <span style="background-color: lightcoral;"><%= todo.description %></span>
                        <% } else { %>
                             <span style="background-color: lightgreen;"><%= todo.description %></span>
                        <% }%>
                       
                    </th>
                    <th><span><%= todo.priority %></span></th>
                    <th>
                        <% if (todo.status === 'pending') { %>
                            <form action="/update-status/<%= todo._id %>" method="post">
                                <button type="submit">Mark Complete</button>   
                            </form>
                        <% } else { %>
                            <form action="/update-status/<%= todo._id %>" method="post">
                                <button type="submit">Mark Pending</button>   
                            </form>
                        <% } %>
                    </th>

                    <th>
                        <form action="/delete-task/<%= todo._id %>" method="post">
                            <button type="submit">DELETE</button>
                        </form>
                    </th>
                    <th>
                        <form action="/update-whole-task/<%= todo._id%>" method="get">
                        <button type="submit">Edit</button>
                    </form>
                    </th>
                </tr>
        <% }) %>
        </tbody>
    </table>

</body>
</html>